/*General*/
body{
    background-color: hsl(300, 75%, 89%);
}

.container-fluid{
    margin:0;
    padding: 0;
}

.row{
    margin:0;
    padding: 0;
}

.header{
    margin-bottom: 3em;
}

h1{
    font-family: monospace;
}


/*Botones*/
.controlPanel{
    margin-bottom: 2em;
    padding: 0.3em 0;
    background-color: #e6a1e6;
}

.controlButton{
    margin: 0 0.5em;
    background-color: #80cbc4;
    color: white;
}


/* Estilos y animaciones de las Cards de Bootstrap */
@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.card{
    animation-name: fadeIn;
    animation-duration: 2s;
}

.card-header{
    background-color: #e6a1e6;    
}

.hidden{
    display: none;
}


/*Media querys*/
@media (min-width:992px){

    h1{
        font-size: 2.5em;
    }
}

@media (min-width:768px) and (max-width:991px){

    h1{
        font-size: 2em;
    }
}

@media (max-width:767px){

    h1{
        font-size: 2em;
    }
}

@media (max-width:479px){

    h1{
        font-size: 1.5em;
    }
}